<% layout("layouts/boilerplate") -%>

<body>
   <form method="post" action="/user/login">
       <input  placeholder="username" name="username" required>
       <input type="password" placeholder="Password" name="password" required>
       <button type="submit">Submit</button>
       <a href="http://localhost:8080/user/sign">Sign Up</a>
   </form>
</body>
</html>